@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Multiuser Project Tracker</h2>
<br />

<form asp-action="CreateGroup">
    <input type="submit" value="Create a group" class="btn btn-primary" asp-page="CreateGroup" />
</form>

<hr />
<br />

<div>
    Choose a group:
    <select>
        <option value="group1">Group1</option>
        <option value="group2">Group2</option>
    </select>
    <br />
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" onclick="showProject()" />
</div>
<br />
<br />

<div class="row" id="projects" style="display:none" >
    <div class="col-md-6">
        <input type="button" value="Add a project" onclick="addProject()" />
        <br />
        <br />
        <input type="text" class="objContainer" id="project" />
        <input type="button" value="Lock" id="lock" />
        <input type="button" value="Unlock" id="unlock" />
        <br />
    </div>
    <br />
</div>

<script>
    function showProject() {
        var x = document.getElementById("projects");
        if (x.style.display === "none")
        {
            x.style.display = "block";
        }
        else
        {
            x.style.display = "none";
        }
    }

    function addProject() {
        var txtbox = document.getElementById('project');
        txtbox.parentNode.appendChild(txtbox.cloneNode(false));

        var lock = document.getElementById('lock');
        lock.parentNode.appendChild(lock.cloneNode(false));

        var unlock = document.getElementById('unlock');
        unlock.parentNode.appendChild(unlock.cloneNode(false));
    }
</script>

<style>
    .objContainer {
        height: 200px;
        width: 300px;
    }
</style>
